/node_modules
*.log
.DS_Store
/.env
/.envrc
/.envrc.local
/.env.example
/.cache
/.pytest_cache
/.ipynb_checkpoints
/public/build
/build
/tmp
/.venv
__pycache__
/.devcontainer
/.github
/.vscode
/coverage