# run until first breakpoint when in `node inspect`
export NODE_INSPECT_RESUME_ON_START=1

export NODE_OPTIONS="--stack-trace-limit=1000"

# https://benborgers.com/posts/unhandled-rejections
# --unhandled-rejections=strict

PATH_add "bin/"
PATH_add "node_modules/.bin"