# all variables that do not require a secret and are consistent across
# machines should be stored here. This will not be sourced on the server
# and is designed to be used by direnv.

# run until first breakpoint when in `node inspect`
export NODE_INSPECT_RESUME_ON_START=1

# export NODE_OPTIONS="--stack-trace-limit=1000"

# TODO
# https://benborgers.com/posts/unhandled-rejections
# --unhandled-rejections=strict

# == shared configuration
export PRISMA_VERSION=4.8.0

# == python configuration
# leave unset to use stdout
export PYTHON_LOG_PATH=
export PYTHON_RICH_STACKTRACE=true
export PYTHONPATH=$PWD
export FAISS_INDEXES_PATH="tmp/indexes"

# The python openai package is depending on the deprecated sklearn package
export SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True

# right now, our VMs are built on x86
# because of the complexity of pytorch building, we want to mimick the
# exact same architecture as the VMs we are using
export DOCKER_DEFAULT_PLATFORM=linux/x86_64

dotenv_if_exists .envrc.local

PATH_add "bin/"
PATH_add "node_modules/.bin"