node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/postgres-data

/app/styles/tailwind.css

snowflake.sql
snowflake.json
python.log
__pycache__
python/indexes

.DS_Store

database-archive.zip