# TODO the installation order in the file matters, but asdf does not seem to care

python 3.10.9

# npm version is defined in package.json and will fail if not versioned properly
nodejs 19.6.0

poetry 1.3.2
